<div class="user-controls">
  <div class="user-button-options">
    <button type="button"
            class="btn"
            [class.btn-primary]="showApprovedUsers"
            [class.btn-outline-primary]="!showApprovedUsers"
            (click)="fetchApprovedUsers()">
      Approved Users
    </button>
    <button type="button"
            class="btn ml-20"
            [class.btn-primary]="!showApprovedUsers"
            [class.btn-outline-primary]="showApprovedUsers"
            (click)="fetchUnApprovedUsers()">
      Unapproved Users
    </button>
  </div>

  <div class="user-controls-table">

    <div *ngIf="isLoading else loaded" class="text-center">
      <div class="spinner-border" role="status">
      </div>
    </div>

    <ng-template #loaded>
      <div *ngIf="showApprovedUsers else showUnapprovedUsers" class="alerts-info">
        <div *ngIf="approvedUsers.length == 0"
             class="alert alert-primary" role="alert">
          <p>No more approved users!</p>
        </div>
      </div>
      <ng-template #showUnapprovedUsers>
        <div *ngIf="unApprovedUsers.length == 0"
             class="alert alert-primary" role="alert">
          <p>No more unapproved users!</p>
        </div>
      </ng-template>
      <div *ngIf="(approvedUsers.length > 0 && showApprovedUsers) || (unApprovedUsers.length > 0 && !showApprovedUsers)">
        <h2>Users:</h2>
        <table
          class="table">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Documents</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody *ngIf="showApprovedUsers">
          <tr *ngFor="let user of approvedUsers">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="openViewDocumentsModal(user.id)">View Documents
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-primary" (click)="assignInstructor(user.id)">Assign instructor
              </button>
            </td>
          </tr>
          </tbody>
          <tbody *ngIf="!showApprovedUsers">
          <tr *ngFor="let user of unApprovedUsers">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="openViewDocumentsModal(user.id)">View Documents
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-primary" (click)="approveUser(user.id)">Approve</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>

