<form (ngSubmit)="createGroup()" [formGroup]="createGroupForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Create Group</h4>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="mb-3">
        <label for="name" class="form-label">Group name</label>
        <input id="name"
               type="text"
               class="form-control"
               placeholder="Enter group name"
               formControlName="name">
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select id="category" class="form-select" required formControlName="categoryId">
          <option [ngValue]="undefined">--Select--</option>
          <option *ngFor="let category of categories" [ngValue]="category.id">
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="instructor" class="form-label">Instructor</label>
        <select id="instructor" class="form-select" formControlName="instructorId">
          <option *ngIf="instructors.length == 0 else showInstructors" selected="selected" [ngValue]="undefined">None
          </option>
          <ng-template #showInstructors>
            <option [ngValue]="undefined">--Select--</option>
            <option *ngFor="let instructor of instructors" [ngValue]="instructor.id">
              {{instructor.email}}
            </option>
          </ng-template>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn btn-secondary" (click)="closeModal()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!createGroupForm.valid">Create Group</button>
  </div>
</form>
