<div class="user-button-options">
  <h2>Groups:</h2>
  <div class="group-controls-table">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Group Name</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let group of allGroupsForInstructor">
        <th scope="row">{{group.id}}</th>
        <td>{{group.name}}</td>
        <td>
          <button type="submit" class="btn btn-primary" (click)="openChatModal(group)">Group Chat</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
